In [1]:
import pandas as pd
from IPython.display import display_html
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [4]:
def build_model(X_train,Y_train):
    clf = GaussianNB()
    clf = clf.fit(X_train,Y_train)
    return clf

def prediction_using_model(clf,X_test,Y_test):
    X_test = X_test.reset_index()
    del X_test['index']
    Y_test = Y_test.reset_index()
    del Y_test['index']
    Y_pred = clf.predict(X_test)
    predictions = pd.concat([X_test,pd.Series(Y_pred,name='Predicted class')],axis=1)
    print("Do you want to view the class label prediction for top five tuples of test data?")
    choice= input()
    if choice=='yes':
        display_html(predictions.head())
        print('Do you want to view evaluation result of model?')
        choice = input()
        if choice=='yes':
            model_evaluation(Y_pred,Y_test)
        else:
            quit()

In [5]:
def model_evaluation(y_pred,y_test):
    print("confusion matrix")
    report = (confusion_matrix(y_test,y_pred))
    cf = pd.DataFrame(report).transpose()
    display_html(cf)
    score = accuracy_score(y_test,y_pred)
    print("Naive Bayes accuracy:",score)
    print("Classification report:")
    report= (classification_report(y_test,y_pred,output_dict=True))
    df = pd.DataFrame(report).transpose()
    display_html(df[['precision','recall','f1-score']].head(3))

In [17]:
def main():
    data = pd.read_csv('iriss.csv')
    print("Do you want to view the top five data tuples of iris dataset?")
    choice= input()
    if choice=="yes":
        display_html(data.head())
    Y = data["Species"]
    X = data.drop(['Species'],axis=1)
    X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=1)
    clf = build_model(X_train,Y_train)
    prediction_using_model(clf,X_test,Y_test)
main()
#     display_html(data.head())
# main()

Do you want to view the top five data tuples of iris dataset?

 yes

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

Do you want to view the class label prediction for top five tuples of test data?

 yes

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Predicted class
0,5.8,4.0,1.2,0.2,Iris-setosa
1,5.1,2.5,3.0,1.1,Iris-versicolor
2,6.6,3.0,4.4,1.4,Iris-versicolor
3,5.4,3.9,1.3,0.4,Iris-setosa
4,7.9,3.8,6.4,2.0,Iris-virginica

Do you want to view evaluation result of model?

 yes

confusion matrix

,0,1,2
0,13,0,0
1,0,15,0
2,0,1,9

Naive Bayes accuracy: 0.9736842105263158
Classification report:

,precision,recall,f1-score
Iris-setosa,1.0,1.0000,1.000000
Iris-versicolor,1.0,0.9375,0.967742
Iris-virginica,0.9,1.0000,0.947368