In [1]:
import numpy as np
import pandas as pd
from IPython.display import display_html
from sklearn import cluster

In [2]:
def toy_dataset():
    ratings=[['Lokesh',5,5,2,1],['Jyoti',4,5,3,2],['Bijay',4,4,4,3],['Sita',2,2,4,5],['Manish',1,2,3,4],['Ram',2,1,5,5]]
    titles = ['user', 'Loot', 'Chino', 'Ghar', 'Aatma'] 
    movies = pd.DataFrame(ratings,columns=titles)
    display_html(movies)
    return movies

In [3]:
def k_means_learn(k,movies):
    data = movies.drop('user',axis=1)
    k_means = cluster.KMeans(n_clusters=2, max_iter=50, random_state=1)
    k_means.fit(data)
    labels=k_means.labels_
    pd.DataFrame(labels, index=movies.user, columns=['Cluster ID']) 
    print("Learned cluster centroids for two clusters o and 1:")
    centroids = k_means.cluster_centers_
    display_html(pd.DataFrame(centroids,columns=data.columns))
    print("Now You can use cluster centroids to other users to determine their cluster assignments.") 
    return(k_means)

In [4]:
def cluster_new_data(k_means, movies):
    testData = np.array([[4,5,1,2],[3,2,4,4],[2,3,4,1],[3,2,3,3],[5,4,1,4]])
    labels=k_means.predict(testData)
    labels = labels.reshape(-1,1)
    usernames = np.array(['Radhe','Riya','Pratik','Prativa','Shyam']).reshape(-1,1)
    cols= movies.columns.tolist()
    newusers = pd.DataFrame(np.concatenate((usernames, testData), axis=1),columns=cols)
    cols.append('Assigned Cluster')
    newusers_cluster = pd.DataFrame(np.concatenate((usernames, testData, labels), axis=1), columns =cols) 
    print("your New users (test data) are:")
    display_html(newusers)
    print("New Users with their assigned cluster:") 
    display_html(newusers_cluster)

In [5]:
def main():
    k=2
    movies= toy_dataset()
    k_means=k_means_learn(k,movies)
    cluster_new_data(k_means, movies)
main()

,user,Loot,Chino,Ghar,Aatma
0,Lokesh,5,5,2,1
1,Jyoti,4,5,3,2
2,Bijay,4,4,4,3
3,Sita,2,2,4,5
4,Manish,1,2,3,4
5,Ram,2,1,5,5

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

Learned cluster centroids for two clusters o and 1:

,Loot,Chino,Ghar,Aatma
0,1.666667,1.666667,4.0,4.666667
1,4.333333,4.666667,3.0,2.000000

Now You can use cluster centroids to other users to determine their cluster assignments.
your New users (test data) are:

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

,user,Loot,Chino,Ghar,Aatma
0,Radhe,4,5,1,2
1,Riya,3,2,4,4
2,Pratik,2,3,4,1
3,Prativa,3,2,3,3
4,Shyam,5,4,1,4

New Users with their assigned cluster:

,user,Loot,Chino,Ghar,Aatma,Assigned Cluster
0,Radhe,4,5,1,2,1
1,Riya,3,2,4,4,0
2,Pratik,2,3,4,1,1
3,Prativa,3,2,3,3,0
4,Shyam,5,4,1,4,1